body {
    background: $color-mine;
}

.nav-link {
    color: $color-second !important;
}

.active {
    color: $color-activ !important;
}

.color-mine {
    background: $color-mine;
}

.color-mine-text {
    color: $color-mine;
}

.color-second {
    background: $color-second;
}

.color-second-text {
    color: $color-second;
}

.logo {
    width: 200px;
}

.font-inconsolata {
    font-family: $font-inconsolata;
}

.font-lemonada {
    font-family: $font-lemonada;
}

.card-title {
    color: $color-activ;
}

.card {
    border: 1px solid $color-second;
}

.card-footer {
    border-top: 1px solid $color-second;
}

/*    Footer      */
.footer-main {
    width: 100%;
    margin-top: 60px;
    box-shadow: -5px -5px 10px 5px black;

    .contact-us {
        .emai-button {
            margin: 20px auto 0;
            position: relative;

            .input-text-contact {
                border: none;
                width: 400px;
                height: 48px;
                border-radius: 30px;
                padding-left: 20px;
                border: 2px solid $color-activ;
            }

            .input-button-contact {
                border: none;
                position: absolute;
                width: 70px;
                background-color: $color-activ;
                height: 40px;
                border-radius: 20px;
                right: 4px;
                top: 4px;
                transition: width 0.2s ease-in-out;
                color: $color-mine;

                &:hover {
                    width: 100px;
                }

                &:active {
                    box-shadow: inset 2px 2px 6px 2px black, inset -2px -2px 6px 2px white;
                }

                &:focus {
                    outline: none;
                    border: 1px solid black;
                }
            }
        }
    }

    .social-icon-footer {

        font-size: 3rem;

        a {
            i {
                margin-right: 20px;
                text-decoration: none;
                color: $color-second;
                transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;

                &:hover {
                    color: $color-activ;
                    transform: translateY(-3px);
                }
            }
        }
    }

    .footer-menu-icon {
        width: 25px;
    }

}

.lvl-O {
    color: #fff;
    border-color: $lvl-O-color;
    background-color: $lvl-O-color;
}

.lvl-I {
    color: #fff;
    border-color: $lvl-I-color;
    background-color: $lvl-I-color;
}

.lvl-II {
    color: #fff;
    border-color: $lvl-II-color;
    background-color: $lvl-II-color;
}

.lvl-III {
    color: #fff;
    border-color: $lvl-III-color;
    background-color: $lvl-III-color;
}

.lvl-IV {
    color: #fff;
    border-color: $lvl-IV-color;
    background-color: $lvl-IV-color;
}

.lvl-V {
    color: #fff;
    border-color: $lvl-V-color;
    background-color: $lvl-V-color;
}

.lvl-VI {
    color: #fff;
    border-color: $lvl-VI-color;
    background-color: $lvl-VI-color;
}

.lvl-VII {
    color: #fff;
    border-color: $lvl-VII-color;
    background-color: $lvl-VII-color;
}

.hiddenRow {
    padding: 0 !important;
}

.table-calculator {
    color: $color-second;
    background-color: $border-color;
}

.border-second {
    border-color: $color-second !important;
}

.w-1000p {
    width: 1000px !important;
}

.w-250p {
    width: 250px !important;
}

.w-200p {
    width: 200px !important;
}

.w-150p {
    width: 150px !important;
}

.w-125p {
    width: 125px !important;
}

.w-100p {
    width: 100px !important;
}

.w-50p {
    width: 50px !important;
}

.raport-live {
    background: linear-gradient(to right, transparent, $success);
}

.raport-deth {
    background: linear-gradient(to right, transparent, $danger);
}

.raport-killed {
    top: 0;
    left: 25%;
    color: red;
}

.opa-30 {
    opacity: 0.3;
}

.border-bottom-2p {
    border-bottom-width: 2px !important;
}
