.nav-link {
    color: $color-second !important;
    // font-size: large;
    // padding-right: 30px;
}

.active {
    color: $color-activ !important;
}

.main-color {
    background: $color-mine;
}

.logo {
    // width: 200px;
    height: 50px;
}

.font-inconsolata {
    font-family: $font-inconsolata;
}

.font-lemonada {
    font-family: $font-lemonada;
}
