// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Customers
$font-inconsolata: "Inconsolata",
monospace;
$font-lemonada: "Lemonada",
cursive;

$color-mine: #1f3840;
$color-second: #ebe4cc;
$color-activ: #1edcfe;
$box-shadow: 5px 5px 10px 5px black;

$border-color: #8a2be2;
$lvl-O-color: #444444;
$lvl-I-color: #c0c0c0;
$lvl-II-color: #008000;
$lvl-III-color: #0000ff;
$lvl-IV-color: #800080;
$lvl-V-color: #ff6600;
$lvl-VI-color: #cc0000;
$lvl-VII-color: #ffcc00;

$height: 40px;
$height-menu: 70px;
$height-before-expand: 55px;
$height-after-expand: 295px;
$border: 3px;
$border-radius: 10px;
$animation-delay: 0.5s;
